/* Path: static/css/style.css */
body {
    background-image: url("https://conteudo.imguol.com.br/c/carros/blogs/2d/2019/02/06/venda-de-veiculos-novos-sobe-1273-em-janeiro-aponta-fenabrave-1549470716575_v2_900x506.jpg.webp");
    background-color: #fff;
    color: #000;
    background-size: cover;
}