{% extends "base.html" %}

{% block main %}

<button id="btn_consult_vehcicles" style="width: 250px">Consult Vehcicles</button><br><br>
<div id="btn_consult_vehcicles_by_model" ></div><br>

<button id="btn_make_lease" style="width: 250px">Make lease</button><br><br>
<div id="btn_consult_lease" style="width: 250px"></div><br>

<button id="btn_make_return" style="width: 250px">Make return</button><br><br>
<div id="btn_consult_return" style="width: 250px"></div><br>

<button id="btn_consult_locations" style="width: 250px">Consult leases</button><br><br>
<div id="btn_consult_locations_html" style="width: 250px"></div><br>

<button id="btn_resume" style="width: 250px">Resume</button><br><br>

<div id="result" style="width: 250px"></div><br>


{% endblock %}