{% block main %}

<div>Select your name</div>
<select class="select" id="names_button_return" name="names_button_return" style="width: 250px"></select><br><br>

<div>Select your destination city</div>
<select class="select" id="origin_city_button_return" name="origin_city_button_return" style="width: 250px"></select><br><br>

<div>kilometers driven</div>
<input type="number" min="1" oninput="validity.valid||(value='');" id="kmDriven" name="kmDriven" placeholder="Kilometers"> <br></br>

<input type="submit" id="next_submit" name="next_submit" value="Next" />

{% endblock %}