{% block main %}

<div>
    <table border="1">
        <tr>
            <th>Cliente</th>
            <th>Car Model</th>
            <th>Car Color</th>
            <th>Car Year</th>
            <th>Car Odometer (KM)</th>
            <th>Origin City</th>
            <th>Destination City</th>
            <th>Driven (KM)</th>
            <th>Days</th>
            <th>Total Price by</th>
        </tr>
        {% for location in locations %}
        <tr>
            <td>{{ location.client.name }}</td>
            <td>{{ location.vehicle.model }}</td>
            <td>{{ location.vehicle.color }}</td>
            <td>{{ location.vehicle.year }}</td>
            <td>{{ location.vehicle.odometer }}</td>
            <td>{{ location.origin_city.name }}</td>
            <td>{{ location.destination_city.name }}</td>
            <td>{{ location.km_driven }}</td>
            <td>{{ location.days }}</td>
            <td>{{ total_value[loop.index0] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<div>
    <h3>Total values of this resume</h3>

    <table border="1">
        <tr>
            <th>Total KM</th>
            <th>Total days</th>
            <th>Total daily value (R$/Day)</th>
            <th>Total value by km (R$/km)</th>
            <th>Total Value (R$)</th>
        </tr>
        <tr>
            <td>{{ total_km }}</td>
            <td>{{ total_days }}</td>
            <td>{{ total_daily_value }}</td>
            <td>{{ total_value_by_km }}</td>
            <td>{{ total_value|sum }}</td>
        </tr>
    </table>
</div>
{% endblock %}