<!-- {% block main %}

<form action="#">
    <label for="option">Select the option</label>
    <select id="parameter_type" name="parameter_type">
        <option value="Model">Model</option>
        <option value="Color">Color</option>
        <option value="City">City</option>
    </select>
</form>
    <br><br>
    <input type="text" id="search_text" name="search_text" placeholder="Search...">
    <input type="submit" id="search_submit" name="search_submit" value="Submit" />

    <div id="result"></div>


{% endblock %} -->