{% block main %}

<script src="https://unpkg.com/turndown/dist/turndown.js"></script>
<script src="https://unpkg.com/turndown-plugin-gfm/dist/turndown-plugin-gfm.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.jsdelivr.net/g/filesaver.js"></script>



<div id="table_export">
    <table border="1">
        <tr>
            <th>Cliente</th>
            <th>Car Model</th>
            <th>Car Color</th>
            <th>Car Year</th>
            <th>Car Odometer (KM)</th>
            <th>Origin City</th>
            <th>Destination City</th>
            <th>Driven (KM)</th>
            <th>Days</th>
            <th>Total Price</th>
        </tr>
        {% for location in locations %}
        <tr>
            <td>{{ location.client.name }}</td>
            <td>{{ location.vehicle.model }}</td>
            <td>{{ location.vehicle.color }}</td>
            <td>{{ location.vehicle.year }}</td>
            <td>{{ location.vehicle.odometer }}</td>
            <td>{{ location.origin_city.name }}</td>
            <td>{{ location.destination_city.name }}</td>
            <td>{{ location.km_driven }}</td>
            <td>{{ location.days }}</td>
            <td>{{ total_value[loop.index0] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<br></br>
<input type="button" id="btnExport" value="Export Table data into Markdown" />

{% endblock %}